<div class="starmap">
  <div class="systems">
    <div id="starmap-container">
      <div id="starmap-wrapper">
        <canvas id="starmap-canvas" class="chart"></canvas>
      </div>
    </div>
    <button (click)="updateSystems()">Update Chart</button>
  </div>
  <div class="starpanel">
    <app-starpanel
      [systemSymbol]="selectedSystemSymbol"
      [systemX]="selectedSystemX"
      [systemY]="selectedSystemY"
      [systemCategory]="selectedSystemCategory"
      [systemWaypoints]="selectedSystemWaypoints"
    ></app-starpanel>
  </div>
</div>
