<nav>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="dashLink"
    routerLink="/"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="fa-duotone fa-tachometer-alt fa-xl"></i>
    <span>Dashboard</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="ledgerLink"
    routerLink="/l"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-chart-line-up fa-xl"></i>
    <span>Ledger</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="fleetLink"
    routerLink="/f"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-rocket-launch fa-xl"></i>
    <span>Fleet</span>
  </a>
  <div id="logoHeader">
    <img src="assets/images/helmsman_logo_thicc.svg" />
  </div>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="starmapLink"
    routerLink="/s"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-radar fa-xl"></i>
    <span>Starmap</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="settingsLink"
    routerLink="/settings"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-gears fa-xl"></i>
    <span>Settings</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="githubLink"
    href="https://github.com/brct-james/helmsman"
    target="_blank"
  >
    <i class="fa-duotone fa-arrow-up-right-from-square fa-xl"></i>
    <span>Github</span>
  </a>
</nav>
<div class="bodyContent">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div id="usernameHeader" class="footerItem">
    <span id="agentLabel">Agent:</span>
    <div
      id="agentUsername"
      class="copiableText tooltip"
      [cdkCopyToClipboard]="username"
      (click)="copySymbolEvent(username)"
      [ngClass]="animateCopySymbol[username] ? 'copyFlash' : ''"
    >
      {{ username }}
      <span class="tooltiptext tooltiptexttop">Click to Copy</span>
    </div>
  </div>
  <div id="ledgerUpdate" class="footerItem"></div>
  <div id="fleetUpdate" class="footerItem">
    <span>Fleet Update In {{ timeRemainingGetFleetStatus }}s</span>
  </div>
  <div id="starmapUpdate" class="footerItem"></div>
</div>
