<nav>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="dashLink"
    routerLink="/"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="fa-duotone fa-tachometer-alt fa-xl"></i>
    <span>Dashboard</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="ledgerLink"
    routerLink="/l"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-chart-line-up fa-xl"></i>
    <span>Ledger</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="fleetLink"
    routerLink="/f"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-shuttle-space fa-xl"></i>
    <span>Fleet</span>
  </a>
  <div id="logoHeader">
    <span id="logoLabel">Helmsman</span>
    <img src="assets/images/helmsman_logo_thicc.svg" />
    <span id="usernameHeader">{{ username }}</span>
  </div>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="starmapLink"
    routerLink="/s"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-radar fa-xl"></i>
    <span>Starmap</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="settingsLink"
    routerLink="/settings"
    [routerLinkActive]="['active']"
  >
    <i class="fa-duotone fa-gears fa-xl"></i>
    <span>Settings</span>
  </a>
  <a
    class="navItem"
    *ngIf="this.api.haveSession"
    id="githubLink"
    href="https://github.com/brct-james/helmsman"
    target="_blank"
  >
    <i class="fa-duotone fa-arrow-up-right-from-square fa-xl"></i>
    <span>Github</span>
  </a>
</nav>
<div class="bodyContent">
  <router-outlet></router-outlet>
</div>
