@import './variables.sass'

nav
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    border-bottom: solid $main-yellow 3px
    height: $nav-height
#logoHeader
    display: flex
    flex-direction: column
    color: $main-yellow
    align-items: center
    justify-content: center
    height: $nav-height
    margin: 0 1em
    padding: 0 1em
    font-size: $nav-font-size
    text-decoration: none
img
    height: $nav-logo-dimensions
    width: $nav-logo-dimensions
#usernameHeader
    margin: 0.1em 0 0 0
.navItem
    color: $main-white
    background-color: $sb-bg
    min-width: $nav-height
    margin: 0 0.25em
    padding: 0 0.5em
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100%
    font-size: $nav-font-size
    text-decoration: none
    box-shadow: 0px 0px 0px 100px $sb-bg inset
    -webkit-box-shadow: 0px 0px 0px 100px $sb-bg inset
    -moz-box-shadow: 0px 0px 0px 100px $sb-bg inset
    transition: all 0.2s
    i
        text-align: center
        font-size: $nav-icon-dimensions
        margin: 0 0 0.25em 0 !important
    img, i
        height: $nav-icon-dimensions
        width: $nav-icon-dimensions
        fill: $main-yellow
        margin: 0 0 0.5em 0
    &.active, &:hover
        color: $main-yellow
        background-color: $sb-bg-highlight
        box-shadow: 0px 0px 15px 12px $sb-bg inset
        -webkit-box-shadow: 0px 0px 15px 12px $sb-bg inset
        -moz-box-shadow: 0px 0px 15px 12px $sb-bg inset
        border-radius:50%
        img
            filter: brightness(0) saturate(100%) invert(87%) sepia(76%) saturate(6471%) hue-rotate(356deg) brightness(108%) contrast(103%)
.bodyContent
  display: flex
  background-color: $body-bg
  color: $body-text
  font-size: $body-font-size
  flex-flow: row nowrap
  align-items: flex-start
  justify-content: flex-start
  margin: $body-margin
  width: $body-width
  height: $body-height

// @media(max-width: 758px)
//     nav
//         position: relative
//         margin-bottom: 60px
//         a
//             border-radius: 0 0 4px 4px
//             padding: 0.5em
//             margin-right: 0.5em
//     .navLinks
//         position: absolute
//         top: 86px
//         width: 98vw
// @media(max-width: 645px)
//     .navLinks
//         top: 101px
