$sb-main: #00bac7
$sb-bg: #132631
$sb-bg-highlight: #264a5f
$sb-bg-highlight: #2a5872
$restricted-red: #ff0000
$main-yellow: #fffb00
$body-bg: #132631
$body-text: #c7e9fe
$body-font-size: 20px
$chart-bg: #0d1920
.importantText
  color: $restricted-red
  font-weight: bold
  font-style: italic

$main-red: #dd323b
$main-grey: #3d3d3d
$main-white: #ffffff
// $main-yellow: #f1a709
$main-orange: #f16609
$main-green: #00b61e
$hover-grey: #dbdbdb
$highlight-grey: #f3f3f3
$main-blue: #32c9dd
$mid-grey: #5c5c5c
$light-yellow: #e9f1bb
$dark-blue: #03a4b9
$guide-preview-width: 240px
$sidebar-width: calc(#{$guide-preview-width} + 1em + 10px)
$nav-height: 120px
$nav-logo-dimensions: 85px
$nav-icon-dimensions: 40px
$nav-font-size: 20px
$body-margin: 20px //0 $body-margin 0 $body-margin
$guide-preview-image-dimensions: 72px
$guide-height: calc(100vh - #{$nav-height} - 2px)
$body-width: calc(100vw - (2 * #{$body-margin}) - 4px)
$body-height: calc(100vh - #{$nav-height} - (2 * #{$body-margin}) - 4px)
$ship-card-width: 490px
$cargo-width: calc(#{$ship-card-width} / 3)
