$sb-main: #00bac7
$sb-bg: #132631
$sb-bg-highlight: #264a5f
$sb-bg-highlight: #2a5872
$restricted-red: #ff0000
$main-yellow: #fffb00
$body-bg: #132631
$body-text: #c7e9fe
$body-font-size: 20px
$chart-bg: #0d1920
$body-bg-lowlight: #0e1c24
$body-bg-highlight: #23485d
.importantText
  color: $restricted-red
  font-weight: bold
  font-style: italic

$main-red: #dd323b
$main-grey: #3d3d3d
$main-white: #ffffff
// $main-yellow: #f1a709
$main-orange: #f16609
$main-green: #00b61e
$hover-grey: #dbdbdb
$highlight-grey: #f3f3f3
$main-blue: #32c9dd
$mid-grey: #5c5c5c
$light-yellow: #e9f1bb
$dark-blue: #03a4b9
$guide-preview-width: 240px
// $sidebar-width: calc(#{$guide-preview-width} + 1em + 10px)
$nav-height: 80px
$nav-logo-dimensions: 72px
$nav-icon-dimensions: 40px
$nav-font-size: 16px
$body-margin: 20px //0 $body-margin 0 $body-margin
$footer-height: 20px
$guide-preview-image-dimensions: 72px
$guide-height: calc(100vh - #{$nav-height} - 2px)
$body-width: calc(100vw - (2 * #{$body-margin}) - 4px)
$body-height: calc(100vh - #{$nav-height} - (2 * #{$body-margin}) - 4px - #{$footer-height} - 1px)
$ship-card-width: 490px
$cargo-width: calc(#{$ship-card-width} / 3)

.tooltip
  position: relative
  display: inline-block
.tooltip .tooltiptext
  visibility: hidden
  font-size: 10px
  width: 80px
  background-color: #ffffff
  color: #000000
  text-align: center
  padding: 0
  border-radius: 6px

    /* Position the tooltip text - see examples below! */
  position: absolute
  z-index: 1
.tooltiptexttop
  bottom: 100%
  left: 50%
  /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-left: -40px
.tooltiptextbottom
  bottom: -50%
  left: 50%
  /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-left: -40px
.tooltip:hover .tooltiptext
  visibility: visible
.copyFlash
  transition: background-color 0s !important
  background-color: $main-white
.copiableText
  transition: color 0.1s, background-color 1s
  &:hover
    color: $main-yellow
    cursor: pointer
