@import '../variables.sass'
.shipCard
  display: flex
  flex-flow: column nowrap
  border: 1px solid white
  margin: 0.5em
  font-size: 12px
  min-width: 350px
  min-height: 190px
.shipCardHeader
  display: flex
  flex-flow: row nowrap
  border-bottom: 1px solid white
  padding: 0.25em 0
  p
    margin: 0 0.5em
  .shipTagsList
    display: flex
    flex-flow: row nowrap
.shipDetails
  display: flex
  flex-flow: row nowrap
  flex-grow: 1
  .shipCardImages
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    margin: 0.25em 9
    padding: 0 0.5em
    border-right: 1px solid white
    width: 150px
    .shipManufacturerLogo
      width: 90%
  .shipInformation
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    flex-grow: 1
    .shipStats
      display: flex
      flex-flow: column nowrap
      align-items: center
      justify-content: center
      text-align: center
      margin: 0.5em 0.5em 0 0.5em
      .restrictedGoods
        color: $restricted-red
        border-radius: 3px 3px 0 0
        border-left: 2px solid $restricted-red
        border-top: 2px solid $restricted-red
        border-right: 2px solid $restricted-red
        width: calc(100% - 10px)
        padding: 2px 0 4px 0
        font-weight: bold
      table
        border-collapse: collapse
      td
        border: 1px solid white
        padding: 4px
      th
        border: 1px solid white
        padding: 4px
    .shipStatus
      display: flex
      flex-flow: column nowrap
      margin: 0.5em
      p
        margin: 0
.shipCardFooter
  display: flex
  flex-flow: row nowrap
  justify-content: flex-end
  border-top: 1px solid white
  font-style: italic
  font-size: 10px
  .shipID
    margin: 0.5em
