@import '../variables.sass'

p
   margin: 0 0 0.25em 0
   padding: 0
table
    border-collapse: collapse
td
    border: 1px solid $sb-main
    padding: 4px
th
    border: 1px solid $sb-main
    padding: 4px
#accountInfoContainer
    display: flex
    flex-direction: column
    margin: 0 1em 0.25em 0
    // height: 64px
    text-align: center