<div id="accountInfoContainer">
    <div>
        <p><strong>Username:</strong> {{ username }}</p>
    </div>
    <div>
        <table>
            <tr>
                <th>Credits</th>
                <th>Ships</th>
                <th>Structures</th>
            </tr>
            <tr>
                <td>
                    {{ credits }}
                </td>
                <td>
                    {{ shipCount }}
                </td>
                <td>
                    {{ structureCount }}
                </td>
            </tr>
        </table>
    </div>
</div>
